textarea {
  resize: none;
}

.past-hour {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

.present-hour {
  background-color: rgb(20, 157, 220);
  border-color: rgb(20, 157, 220);
}

.future-hour {
  background-color: rgb(90, 177, 148);
  border-color: rgb(41, 136, 41);
}

button {
  background-color: rgb(82, 76, 77);
  border-radius: 0px 5px 5px 0px;
}

button {
  font-size: 2em;
}